* {
	font-family: 'PT Sans', sans-serif;
}

.header-level {
	border-bottom: 1px solid #dddddd;
	padding: 15px 50px 15px 50px;
}

.logo {
	max-width: 150px;
}

.choicer {
	margin-top: 15px;
}

.header {
	padding-top: 100px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,dbeef7+100&0+0,1+100 */ /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(219,238,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(219,238,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#dbeef7',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #dddddd;
}

.profile img {
	max-width: 400px;
}

.profile {
	padding-bottom: 5px;
}

.intro {
	padding-top: 100px;
}

.intro h1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
}

.intro h2 {
	font-size: 26px;
}

.portfolio {
	margin-top: 60px;
}

.portfolio-item {
	margin-top: 50px;
}

.item-description {
	padding-top: 20px;
}

.item-description h1.title {
	font-size: 26px;
	font-family: 'Nunito', sans-serif;
}

.tags {
	margin-top: 25px;
}

.item-links {
	margin-top: 10px;
}

.slider-signin, .slider-secret, .slider-vitflow {
	border: 5px solid whitesmoke;
	border-radius: 2px;
}