/********************************************************

TABLE OF CONTENTS

1. GENERAL STYLE ELEMENTS
    1.1. TEMPLATE FONTS
    1.2. LINKS STYLE

2. HEADER
    2.1. TOP HEADER AND MENU
    2.2. LOWER HEADER

3. SECTIONS
    3.1. TABS
    3.2. AREAS OF EXPERTISE
    3.3. HOW IT WORKS
    3.4. DISCOVER
    3.5. TESTIMONIALS
    3.6. CONTACT

4. FOOTER
    4.1. WIDGETS AND NEWSLETTER
    4.2. CREDIT CARDS AND COPYRIGHT

********************************************************/

/******************************************************

1. GENERAL STYLE ELEMENTS

*******************************************************/

/* 1.1. Template Fonts */

@font-face {
    font-family: RobotoMedium;
    src: url(../../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Forte;
    src: url(../../fonts/forte.ttf);
}

/* 1.2. Link Styles */

a {
   outline: 0 !important;
}

/******************************************************
 
2. HEADER
 
*******************************************************/

/* 2.1. Top Header and Menu */

body {
	background-color: #F9F9F9;
}

body header {
    background-color: #FFFFFF;
}

body.home header {
    min-height: 483px;
    background: linear-gradient(180deg, rgba(246, 249, 252, 0.05), rgba(246, 249, 252, 0.05)), linear-gradient(225deg, rgba(114, 114, 204, 0.93) 26%, rgba(73, 209, 209, 0.97));
}

.logo {
    color: #44484d;
    float: left;
    font-family: RobotoLight,Arial;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 106px;
}

.logo img {
    width: 50px;
}

.logo a {
    color: #44484d;
}

.logo a:hover {
    text-decoration: none;
}

ul#menu {
    float: left;
    font-family: RobotoRegular,Arial;
    list-style: outside none none;
    margin-top: 30px;
}

ul#menu li {
    float: left;
    font-size: 15px;
    margin-left: 25px;
    letter-spacing: 0.5px;
}

ul#menu li a {
    color: #44474E;
}

ul#menu li a:hover,
ul#menu li.active a {
    text-decoration: none;
    opacity: 0.30;
}

.dropdown-menu {
	box-shadow: none;
}

.dropdown-menu {
    background-color: #358ED7;
    border: medium none;
    box-shadow: none;
    color: #ffffff;
    display: none;
    margin: 2px 0 0;
    padding: 5px 0;
    right: 0;
    left: auto;
}

.dropdown-menu > li > a {
    color: #ffffff;
    font-family: RobotoRegular;
    line-height: 25px;
    padding: 5px 20px;
}

.btn-default.active, 
.btn-default:hover, 
.btn-default:active, 
.open > .dropdown-toggle.btn-default {
    background-color: #3471A3;
    color: #fff;
}

.btn-default {
    background-color: #358ED7;
    border: medium none;
    color: #fff;
    margin-top: 9px;
    padding: 10px 15px;
}

.dropdown {
	float: right;
    margin-top: 10px;
}

.btn-default.active.focus, .btn-default.active:focus, 
.btn-default.active:hover, .btn-default.focus:active, 
.btn-default:active:focus, .btn-default:active:hover, 
.open > .dropdown-toggle.btn-default.focus, 
.open > .dropdown-toggle.btn-default:focus, 
.open > .dropdown-toggle.btn-default:hover {
    background-color: #3471A3;
    border: none;
    color: #FFFFFF;
}

a.top_button {
    border: 2px solid #BDC7CF;
    border-radius: 6px;
    color: #358ED7;
    float: right;
    font-family: RobotoRegular, Arial;
    font-size: 16px;
    margin-top: 19px;
    padding: 8px 35px;
}

a.top_button:hover {
    color: #99A0AD;
    text-decoration: none;
}

/******************************************************

3.6. CONTACT
 
*******************************************************/

section#contact {
    background-color: #ffffff;
    padding-bottom: 89px;
    padding-top: 79px;
}

section#contact #contact_header h1 {
    color: #43484d;
    font-family: RobotoLight,Arial;
    text-align: center;
}

section#contact #contact_header p {
    color: #5e6977;
    font-family: RobotoLight,Arial;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.contact_message {
    background-color: #c2e2b1;
    border: 1px solid #72b24a;
    border-radius: 6px;
    color: #72b24a;
    font-family: RobotoMedium,Arial;
    height: 50px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-align: center;
    width: 55%;
    margin-bottom: 20px;
}

.invalid_email {
    background-color: #F4F4A4;
    border: 1px solid #CECE4C;
    border-radius: 6px;
    color: #CECE4C;
    font-family: RobotoMedium,Arial;
    height: 50px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-align: center;
    width: 55%;
    margin-bottom: 20px;
}

#contact_header {
    margin-bottom: 45px;
}

form#contact_form {
	width: 55%;
	margin: 0 auto;
}

form#contact_form input, form#contact_form textarea {
    border: 1px solid #e1e8ee;
    border-radius: 6px;
    box-shadow: none;
    color: #5e6977;
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    height: 57px;
    margin-bottom: 20px;
    padding: 20px;
}

form#contact_form textarea {
	height: 70px;
}

form#contact_form input:focus, form#contact_form textarea:focus {
    border: 1px solid #bccad6;
}

.form-control::-moz-placeholder {
    color: #859eb2;
    opacity: 1;
}

form#contact_form input#submit {
	width: 100%;
	color: #FFFFFF;
	background-color: #7DC855;
	padding-top: 18px;
	padding-bottom: 20px;
	text-align: center;
	border: none;
	margin-bottom: 40px;
}

form#contact_form input#submit:hover {
	text-decoration: none;
	background-color: #72B24A;
	color: #EEEEEE;
	border: none;
}

section#contact .contact_details {
	width: 100%;
	text-align: center;
}

section#contact p.or_just {
	color: #5e6977;
	font-family: RobotoBold, Arial;
	font-size: 14px;
	text-align: center;
}

section#contact p.or_email {
	color: #5e6977;
	font-family: RobotoRegular, Arial;
	font-size: 14px;
	text-align: center;
}

section#contact p.or_email {
	font-size: 16px;
}

/******************************************************

3. FOOTER
 
*******************************************************/

/* 3.1. Create Account Heading */

/* 4.1. Widgets and Newsletter */

footer {
    background-color: #43484d;
    padding-top: 50px;
}

footer .footer_logo {
    font-family: Forte, Arial;
    font-size: 48px;
    line-height: 57px;
}

footer .footer_logo a {
    color: #ffffff;
}

footer .footer_logo a:hover {
    text-decoration: none;
}

footer h4 {
    color: #ffffff;
    font-family: RobotoRegular;
    margin-bottom: 20px;
}

footer p {
    color: #bdc6cf;
    font-family: RobotoRegular,Arial;
    font-size: 13px;
}

footer .input-group input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #62686d;
    font-family: RobotoRegular, Arial;
    font-size: 13px;
    color: #969a9e !important;
}

footer .input-group input:focus, footer .input-group input:active, footer .input-group input:after {
    border: 1px solid #969a9e;
    box-shadow: none;
    color: #969a9e;
}

footer .form-control::-moz-placeholder {
    color: #969a9e;
}

footer .input-group {
    margin-top: 20px;
}

footer .input-group span {
    background: #7dc855 none repeat scroll 0 0;
    border: 1px solid #7dc855;
    color: #ffffff;
}

input.newsletter_submit {
    border: 0px !important;
    box-shadow: none;
    font-family: RobotoMedium,Arial;
    position: absolute;
    margin-left: -29px;
    padding: 9px 10px 11px 27px;
    margin-top: -10px;
}

/* 3.3. Bottom Footer */

.footer_bottom {
    background: #43484D;
    padding-bottom: 35px;
}

ul.footer_social {
    list-style: outside none none;
    padding-left: 10px;
    width: 125px;
    float: none;
    margin: 0 auto;
}

ul.footer_social li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

ul.footer_social li.fb {
    width: 8px;
    height: 16px;
}

ul.footer_social li.tw {
    width: 19px;
    height: 13px;
}

ul.footer_social li.rss {
    width: 14px;
    height: 14px;
}

ul.footer_social li.ig {
    width: 16px;
    height: 16px;
}

ul.footer_social li.ggl {
    width: 19px;
    height: 16px;
}

p.copyright {
    color: #97a0a7;
    font-family: RobotoMedium,Arial;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: center;
    margin-top: 15px;
}

p.copyright a {
    color: #e0e0e0;
    text-decoration: underline;
}

p.copyright a:hover {
    color: #777777;
}

/* 3.4. Widgets Area */

footer .widgets_area h1.footer_logo {
    color: #FFFFFF;
    float: left;
    font-family: RobotoLight,Arial;
    font-size: 36px;
    margin-top: 65px;
}

footer .widgets_area h1.footer_logo img {
    width: 40%;
    margin-right: 10px;
    margin-top: -5px;
}

footer .widgets_area h1.footer_logo a {
    color: #FFFFFF;
}

footer .widgets_area h1.footer_logo a:hover {
    text-decoration: none;
}

footer .widgets_area h4 {
    color: #ffffff;
    font-family: RobotoRegular;
    margin-bottom: 20px;
    padding-left: 0px;
}

footer .widgets_area p {
    color: #bdc6cf;
    font-family: RobotoRegular,Arial;
    font-size: 13px;
}

footer .widgets_area .input-group input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #62686d;
    font-family: RobotoRegular, Arial;
    font-size: 13px;
    color: #969a9e !important;
}

footer .widgets_area .input-group input:focus, 
footer .widgets_area .input-group input:active, 
footer .widgets_area .input-group input:after {
    border: 1px solid #969a9e;
    box-shadow: none;
    color: #969a9e;
}

footer .widgets_area .form-control::-moz-placeholder {
    color: #969a9e;
}

footer .widgets_area .input-group {
    margin-top: 20px;
}

footer .widgets_area .input-group span {
    background: #7dc855 none repeat scroll 0 0;
    border: 1px solid #7dc855;
    color: #ffffff;
}

footer .widgets_area input.newsletter_submit {
    border: 0px !important;
    box-shadow: none;
    font-family: RobotoMedium,Arial;
    position: absolute;
    margin-left: -29px;
    padding: 9px 10px 11px 27px;
    margin-top: -10px;
}

/******************************************************
 
4.1. HOMEPAGE - SIGN IN AREA
 
*******************************************************/

/* 4.1.1. Lower Header */

h1#hero_text {
    /*color: #606878;*/
    color: #FFFFFF;
    font-family: RobotoLight,Arial;
    font-size: 52px;
    letter-spacing: -1.5px;
    margin-bottom: 40px;
    margin-left: -5px;
    line-height: 65px;
}

section#lower_header {
    margin-top: 40px;
    width: 70%;
}

#lower_header a {
    background: #358ED7 none repeat scroll 0 0;
    border-radius: 6px;
    color: #ffffff;
    font-family: RobotoRegular, Arial;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
}

#lower_header a:hover {
	text-decoration: none;
	background: #3471A3 none repeat scroll 0 0;
	color: #EEEEEE;
}

#lower_header a span {
    padding-right: 10px;
}

#lower_header ul {
    margin-left: 0px;
    padding-left: 0px;
}

#lower_header ul li {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
}

#lower_header ul li a {
    background: none;
    color: #43484D;
    font-size: RobotoBold, Arial;
}

#lower_header ul li a:hover {
    text-decoration: underline;
    background: none;
    color: #43484D;
}

/* 4.1.2. Sign In Box */

.signin_box {
    background: #FFFFFF;
    border-radius: 6px;
    margin-right: -15px;
}

.signin_box h3 {
    color: #5E6977;
    font-size: 18px;
    border-bottom: 1px solid #E1E8EE;
    padding: 15px 25px 15px 25px;
    font-family: RobotoRegular, Arial;
}

.signin_box p {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #86939E;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
}

.signin_box form {
    padding: 0px 25px 25px 25px;
}

.signin_box form p {
    padding: 0px;
}

.signin_box form input {
    box-shadow: none !important;
    border: 2px solid #E1E8EE;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    color: #86939E;
}

.signin_box form input:active, 
.signin_box form input:hover, 
.signin_box form input:focus {
    box-shadow: none !important;
    border: 2px solid #BDC7CF;
}

.signin_box form .checkbox label {
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    color: #717C8A;
    line-height: 23px;
    float: left;
}

.signin_box form .checkbox .help-block {
    float: right;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    color: #86939E;
    line-height: 14px;
}

.signin_box form .checkbox .help-block a {
    color: #358ED7;
}

.signin_box form .checkbox .help-block a:hover {
    color: #437196;
    text-decoration: none;
}

.signin_box form .btn {
    background: #7DC855;
    font-family: RobotoRegular, Arial;
    font-size: 16px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 10px;
}

.signin_box form .btn:hover {
    background: #72B24A;
}

p.help-block a {
    color: #358ED7;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    margin-top: 21px;
}

p.help-block a:hover {
    color: #437196;
    text-decoration: none;
}

/******************************************************
 
4.2. HOMEPAGE - SITE FEATURES
 
*******************************************************/

section#site_features {
	background: #FFFFFF;
    padding-bottom: 52px;
    padding-top: 74px;
}

#site_features h1 {
    font-family: RobotoLight,Arial;
    text-align: center;
    margin-bottom: 60px;
    color: #43484D;
}

.feature_icon img {
    margin: 0 auto;
    width: 60px;
}

#site_features_icons .row .col-md-4 p {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
    margin: 0 auto;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
}

/******************************************************
 
4.3. HOMEPAGE - HOW IT WORKS
 
*******************************************************/

section#how_it_works {
    padding-bottom: 86px;
    padding-top: 80px;
    background: #FFFFFF;
}

#how_it_works h1 {
    font-family: RobotoLight,Arial;
    text-align: center;
    color: #43484D;
    margin-bottom: 57px;
}

section#how_it_works .container .row .col-md-4 h4 {
    text-align: center;
    color: #43484D;
    font-family: Robotoregular;
}

section#how_it_works .container .row .col-md-4 p {
    text-align: center;
    font-size: 14px;
    color: #5e6977;
    font-family: RobotoRegular;
    line-height: 30px;
}

section#how_it_works .center_one {
    height: 100px;
    margin: 0 auto;
    padding-top: 6px;
    width: 77px;
}

section#how_it_works .center_two {
    height: 100px;
    margin: 0 auto;
    width: 64px;
    padding-left: 5px;
	padding-top: 10px;
}

section#how_it_works .center_three {
    height: 100px;
    margin: 0 auto;
    width: 77px;
    padding-top: 10px;
}

/******************************************************
 
3.1. TABS
 
*******************************************************/

#tabs ul {
    border-bottom: 2px solid #dae2e9;
    height: 71px;
    list-style: outside none none;
    margin-bottom: 30px;
    padding-left: 0;
    padding-top: 25px;
}

#tabs ul li {
    float: left;
    font-family: RobotoMedium;
    margin-right: 30px;
}

#tabs ul li.ui-tabs-active a, #tabs ul li a:hover {
    border-bottom: 5px solid #43484d;
    color: #43484d;
    padding-bottom: 22px;
}

#tabs ul li a {
    color: #5e6977;
    text-decoration: none;
    outline: 0;
}

#tabs ul li a:active {
    outline: 0;
}

.tabs_grid_block {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 6px;
    margin-bottom: 35px;
}

.block_image img {
    border-radius: 6px 6px 0px 0px;
}

h4.block_tile {
    font-family: RobotoBold,Arial;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 25px;
    text-align: center;
}

h4.block_tile, h4.block_tile a {
    color: #5e6977;
}

h4.block_tile a:hover {
	text-decoration: none;
}

p.block_text {
    color: #5e6977;
    font-family: RobotoRegular,Arial;
    font-size: 13px;
    padding-bottom: 25px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

/******************************************************
 
4.4. HOMEPAGE - DISCOVER

*******************************************************/

section#discover_our_app {
    background-color: #FFFFFF;
    padding-bottom: 13px;
    padding-top: 106px;
}

h1.discover_app {
    color: #555a60;
    font-family: RobotoLight,Arial;
    padding-top: 5px;
}

section#discover_our_app #app_content {
    margin-top: 20px;
}

section#discover_our_app .app_icon {
	width: 39px;
	height: 29px;
	margin-top: 5px;
}

section#discover_our_app #app_content p {
    color: #5e6977;
    font-family: RobotoLight,Arial;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 20px;
}

section#discover_our_app #app_content a {
    color: #358ed7;
    font-family: RobotoMedium,Arial;
    font-size: 13px;
    line-height: 30px;
}

section#discover_our_app #app_content a:hover {
    color: #89B8DE;
}

section#discover_our_app #app_content a:hover {
    text-decoration: none;
}

section#discover_our_app .app_image {
    float: right;
    padding-right: 15%;
    width: 418px;
    height: 467px;
}

/******************************************************
 
4.5. HOMEPAGE - FROM THE BLOG
 
*******************************************************/

section#from_the_blog {
    padding-bottom: 86px;
    padding-top: 80px;
}

section#from_the_blog h1 {
    font-family: RobotoLight,Arial;
    text-align: center;
    color: #43484D;
    margin-bottom: 57px;
}

section#from_the_blog h1 a {
    color: #43484D;
    text-decoration: none;
}

section#from_the_blog h1 a:hover {
    color: #5e6977;
}

article.blog_post {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 6px;
    margin-bottom: 35px;
    padding-bottom: 10px;
}

article.blog_post figure.blog_post_image img {
    border-radius: 6px 6px 0px 0px;
}

article.blog_post h4.blog_post_title {
    font-family: RobotoLight,Arial;
    font-size: 23px;
    letter-spacing: 0.5px;
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

article.blog_post h4.blog_post_title a {
    color: #5e6977;
}

article.blog_post h4.blog_post_title a:hover {
	text-decoration: none;
    color: #99A0AD;
}

article.blog_post .blog_post_details {
    font-family: RobotoRegular,Arial;
    font-size: 12px;
    margin-top: 20px;
    height: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    letter-spacing: 1.3px;
}

article.blog_post .blog_post_details .blog_post_category {
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
}

article.blog_post .blog_post_details .blog_post_category a {
    color: #358ED7;
    font-family: RobotoBold,Arial;
}

article.blog_post .blog_post_details .blog_post_category a:hover {
    text-decoration: none;
    color: #437196;
}

article.blog_post .blog_post_details .blog_post_time {
    float: left;
    color: #B0B0B0;
}

article.blog_post p.blog_post_text {
    color: #89939F;
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -5px;
}

article.blog_post .blog_post_more a {
    color: #358ED7;
    font-family: RobotoBold,Arial;
    margin-left: 20px;
}

article.blog_post .blog_post_more img {
    width: 6px;
    margin-left: 5px;
}

article.blog_post .blog_post_more span {
    font-size: 12px;
}

article.blog_post .blog_post_more a:hover {
    text-decoration: none;
    color: #437196;
}

/******************************************************
 
4.6. HOMEPAGE - TESTIMONIALS
 
*******************************************************/

section#testimonials {
    padding-bottom: 91px;
    padding-top: 101px;
    background: #FFFFFF;
}

#testimonials_header h1 {
    color: #43484d;
    font-family: RobotoLight,Arial;
    margin-bottom: 40px;
    margin-top: 5px;
    text-align: center;
}

#testimonials_header p {
    color: #5e6977;
    font-family: RobotoMedium,Arial;
    text-align: center;
}

section#testimonials .center {
    height: 56px;
    margin: 0 auto;
    width: 56px;
}

section#testimonials p.testimonial {
    color: #5e6977;
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

section#testimonials p.testimonial_name {
    color: #43484d;
    font-family: RobotoRegular,Arial;
    font-size: 16px;
    text-align: center;
}

/******************************************************
 
5. BLOG PAGE
 
*******************************************************/

body.blog .col-md-8 {
    padding-left: 0px;
}

section#inner_page_header {
    background: #FFFFFF;
}

h1.inner_page_title {
    font-family: RobotoLight,Arial;
    letter-spacing: -1.5px;
    font-size: 52px;
    color: #5E6977;
    float: left;
    margin-top: 10px;
}

body.blog section#top_header {
    padding-top: 60px;
    padding-bottom: 60px;
}

ul.inner_page_social_icons {
    list-style: none;
    float: right;
    width: 332px;
    margin-top: 10px;
}

ul.inner_page_social_icons li {
    float: left;
    margin-left: 14px;
}

ul.inner_page_social_icons li img {
    width: 59px;
}

#categories_menu {
    background: #43474D;
    list-style: none;
    width: 100%;
    height: 60px;
    margin-top: 70px;
    margin-bottom: 50px;
}

#categories_menu ul {
    list-style: none;
    padding-left: 0px;
}

#categories_menu ul li {
    float: left;
    font-family: RobotoMedium,Arial;
    letter-spacing: 0.5px;
    padding-top: 20px;
    margin-right: 30px;
}

#categories_menu ul li.active,
#categories_menu ul li:hover {
    border-bottom: 3px solid #7DC855;
    color: #FFFFFF;
    padding-bottom: 17px;
}

#categories_menu ul li.active a,
#categories_menu ul li:hover a {
    color: #FFFFFF;
}

#categories_menu ul li a {
    color: #BDC7CF;
}

#categories_menu ul li a:hover {
    text-decoration: none;
}

.sticked_post {
    background: #FFFFFF;
    border-radius: 6px;
    padding-right: 20px;
    margin-bottom: 35px;
}

figure.sticked_blog_post_image img {
    border-radius: 6px 0px 0px 6px;
}

.sticked_post_ribbon {
    font-family: RobotoMedium, Arial;
    font-size: 12px;
    background: #7DC855;
    color: #FFFFFF;
    float: right;
    padding: 5px 13px 5px 13px;
    border-radius: 20px;
    margin-top: 20px;
}

.sticked_blog_post_category {
    margin-top: 62px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

.sticked_blog_post_category a {
    color: #358ED7;
    font-family: RobotoBold,Arial;
}

.sticked_blog_post_category a:hover {
    text-decoration: none;
    color: #437196;
}

h4.sticked_blog_post_title {
    font-family: RobotoLight,Arial;
    font-size: 32px;
    letter-spacing: 0.5px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 40px;
}

h4.sticked_blog_post_title a {
    color: #5e6977;
}

h4.sticked_blog_post_title a:hover {
    color: #99A0AD;
    text-decoration: none;
}

p.sticked_blog_post_text {
    color: #89939F;
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

p.sticked_blog_post_more {
    margin-left: 10px;
}

p.sticked_blog_post_more a {
    color: #358ED7;
    font-family: RobotoBold,Arial;
}

p.sticked_blog_post_more a:hover {
    text-decoration: none;
    color: #437196;
}

p.sticked_blog_post_more span {
    font-size: 12px;
}

h1.blog_latest_posts_title {
    padding-left: 15px;
    font-family: RobotoLight, Arial;
    color: #43474D;
    font-size: 32px;
    margin-bottom: 30px;
}

h1.blog_latest_posts_title a {
    color: #5e6977;
}

h1.blog_latest_posts_title a:hover {
	text-decoration: none;
    color: #99A0AD;
}

a.load_more_blog {
    color: #7DC855;
    font-size: 16px;
    font-family: RobotoMedium, Arial;
    padding: 10px 20px 10px 20px;
    border: 2px solid #7DC855;
    border-radius: 6px;
}

.load_more_container {
    text-align: center;
    width: 100%;
    margin-top: 8px;
    height: 34px;
    margin-bottom: 34px;
}

a.load_more_blog:hover {
    text-decoration: none;
    color: #72B24A;
    border: 2px solid #72B24A;
}

.widget {
    background: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 35px;
}

.widget_inner {
    padding: 0px 20px 20px 20px;
}

.widget_search {
    background: none;
    padding: 0px;
    border-radius: 0px;
}

.widget_search input.form-control {
    height: 50px;
    border-top: 2px solid #E1E8EE;
    border-bottom: 2px solid #E1E8EE;
    border-left: 2px solid #E1E8EE;
    border-right: none;
    box-shadow: none;
    color: #89939F;
    font-family: RobotoRegular, Arial;
    font-size: 14px;
    background: none;
    
}

.widget_search input.form-control:hover,
.widget_search input.form-control:focus,
.widget_search input.form-control:after,
.widget_search input.form-control:active {
    border-top: 2px solid #BDC7CF;
    border-bottom: 2px solid #BDC7CF;
    border-left: 2px solid #BDC7CF;
    border-right: none;
    box-shadow: none;
    color: #89939F;
}

.widget_search span.input-group-btn button {
    background: #86939E;
    margin-top: 0px;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.widget_search span.input-group-btn button:hover {
    opacity: 0.80;
}

.widget_top {
    border-bottom: 1px solid #EBF1F5;
}

h4.widget_title {
    font-family: RobotoMedium, Arial;
    font-size: 18px;
    color: #606878;
    padding: 17px 17px 5px 20px;
}

article.blog_latest_post {
    margin-top: 25px;
    padding-bottom: 45px;
    border-bottom: 1px solid #EBF1F5;
}

.blog_latest_post_category {
    text-transform: uppercase;
}

.blog_latest_post_category a {
    color: #358ED7;
    font-family: RobotoBold,Arial;
}

.blog_latest_post_category a:hover {
    text-decoration: none;
    color: #437196;
}

h4.blog_post_title {
    font-family: RobotoLight,Arial;
    font-size: 32px;
    letter-spacing: 0.5px;
    margin-top: 15px;
    line-height: 40px;
}

h4.blog_post_title a {
    color: #44474E;
}

h4.blog_post_title a:hover {
    color: #5e6977;
    text-decoration: none;
}

p.blog_post_text {
    color: #89939F;
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    margin-top: 10px;
}

.blog_latest_post_time {
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    margin-top: 2px;
    float: left;
    color: #89939F;
}

.blog_latest_post_comments {
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    margin-top: 2px;
    float: left;
    color: #89939F;
    margin-left: 20px;
}

.blog_latest_post_comments span {
    font-size: 13px;
    margin-right: 2px;
}

.blog_latest_post_comments a {
    color: #89939F;
    text-decoration: none;
}

.blog_latest_post_comments a:hover {
    color: #B0B0B0;
}

.widget_categories .widget_inner {
    padding: 0px 0px 0px 0px;
    background: #F1F1F1;
    border-radius: 0px 0px 6px 6px;
}

.widget_categories .widget_title {
    border-bottom: none;
}

.widget_categories ul {
    list-style: none;
    font-family: RobotoRegular,Arial;
    font-size: 14px;
    padding-left: 0px;
}

.widget_categories ul li {
    padding-top: 13px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #E1E8EE;
}

.widget_categories ul li:last-child {
    border-bottom: none;
}

.widget_categories ul li a {
    color: #89939F;
}

.widget_categories ul li a:hover {
    text-decoration: none;
    color: #606878;
}

/******************************************************
 
6. NEWS FEED
 
*******************************************************/

/* 6.1. News Feed Header */

section#newsfeed_header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 35px;
}

section#newsfeed_header ul.newsfeed_menu {
    list-style: none;
    padding-left: 0px;
    padding-top: 7px;
}

section#newsfeed_header ul.newsfeed_menu li {
    float: left;
    margin-right: 15px;
}

section#newsfeed_header ul.newsfeed_menu li.has_span {
    float: left;
    margin-right: 20px;
}

section#newsfeed_header ul.newsfeed_menu li img {
    width: 25px;
}

section#newsfeed_header ul.newsfeed_menu li span.icon_alert {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid #7DC855;
    color: #7DC855;
    font-family: RobotoMedium, Arial;
    text-align: center;
    line-height: 13px;
    font-size: 13px;
    padding-top: 2px;
    border-radius: 10px;
    float: right;
    background: #FFF;
    margin-top: -30px;
    margin-left: 15px;
}

section#newsfeed_header .newsfeed_logo {
    float: none;
    margin: 0 auto;
    width: 55px;
    padding-top: 5px;
}

section#newsfeed_header figure.logo {
    margin-top: 0px;
}

section#newsfeed_header .user_logged_in_menu {
    float: right;
}

section#newsfeed_header .user_logged_in_menu a.user_logged_in_menu_username {
    font-family: RobotoMedium, Arial;
    color: #5E6977;
    font-size: 16px;
    float: left;
    margin-top: 9px;
}

section#newsfeed_header .user_logged_in_menu a.user_logged_in_menu_username:hover {
    text-decoration: none;
    color: #BDC7CF;
}

section#newsfeed_header .user_logged_in_menu span {
    color: #BDC7CF;
    float: left;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 12px;
}

section#newsfeed_header .user_logged_in_menu figure.user_logged_in_menu_profile_pic {
    width: 42px;
    height: 42px;
    float: left;
    margin-left: 20px;
}

section#newsfeed_header .user_logged_in_menu figure.user_logged_in_menu_profile_pic img {
    width: 42px;
    height: 42px;   
}

/* 6.3. News Feed Toggles */

.messages_toggle_menu {
	position: relative;
    display: inline-block;
	min-width: 300px;
	margin-left: 20%;
	margin-top: 10px;
    display: none;
}

li.messages_icon {
    cursor: pointer;
}

.messages_toggle_menu span.glyphicon-play {
    transform: rotate(-90deg);
    color: #F5F6FA;
	margin-left: 12px;
}

.messages_toggle_menu_inner {
    max-width: 300px;
	z-index: 1;
	position: absolute;
    margin-top: 20px;
}

.messages_toggle_menu ul {
	list-style: none;
	margin-top: -8px;
    border-right: 1px solid #E1E8ED;
	border-bottom: 1px solid #E1E8ED;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F5F6FA;
	border-radius: 6px;
}

.messages_toggle_menu ul li {
	padding-bottom: 5px;
	border-bottom: 1px solid #E1E8ED;
	margin-bottom: 20px;
}

.messages_toggle_menu ul li:last-child {
	padding-bottom: 0px;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.messages_toggle_menu figure.message_pic {
	float: left;
	margin-right: 15px;
}

.messages_toggle_menu figure.message_pic img {
	width: 50px;
	border-radius: 100px;
}

h4.message_title {
	font-family: RobotoBold, Arial;
	font-size: 14px;
}

h4.message_title a {
	color: #5E6977;
}

p.message_excerpt, 
p.message_time {
	font-family: RobotoRegular, Arial;
	font-size: 13px;
	line-height: 20px;
}

p.message_excerpt a,
p.message_time a {
	color: #86939E;
}

p.message_time {
    font-family: RobotoRegular, Arial;
	font-size: 12px;
	color: #86939E;
}

p.message_time span {
    margin-right: 5px;
}

.messages_toggle_menu ul li.see_all {
	font-family: RobotoBold, Arial;
    text-align: center;
	padding-bottom: 5px;
}

.messages_toggle_menu ul li.see_all span {
    padding-left: 3px;
}

.messages_toggle_menu ul li.see_all a {
	color: #7DC855;
}

.messages_toggle_menu ul li.see_all a:hover {
	color: #72B24A;
}

.search_toggle_menu {
	position: relative;
    display: inline-block;
	min-width: 300px;
	margin-left: 44%;
	margin-top: 10px;
    display: none;
}

li.search_icon {
    cursor: pointer;
}

.search_toggle_menu span.glyphicon-play {
    transform: rotate(-90deg);
    color: #F5F6FA;
	margin-left: 12px;
}

.search_toggle_menu_inner {
    max-width: 300px;
	z-index: 1;
	position: absolute;
    margin-top: 20px;
}

.search_toggle_menu .input-group {
	margin-top: -8px;
    border-radius: 6px;
    border-right: 1px solid #E1E8ED;
	border-bottom: 1px solid #E1E8ED;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
    background: #F5F6FA;
}

.search_toggle_menu input.form-control {
    height: 50px;
    border-top: 0px;
    border-bottom: 2px solid #E1E8EE;
    border-left: 0px;
    border-right: none;
    box-shadow: none;
    color: #89939F;
    font-family: RobotoRegular, Arial;
    font-size: 14px;
    background: none;
    border-radius: 0px;
    
}

.search_toggle_menu input.form-control:hover,
.search_toggle_menu input.form-control:focus,
.search_toggle_menu input.form-control:after,
.search_toggle_menu input.form-control:active {
    border: 0px;
    box-shadow: none;
    color: #89939F;
    border-bottom: 2px solid #89939F;
}

.search_toggle_menu span.input-group-btn button {
    color: #86939E;
    background: none;
    font-size: 16px;
    border-radius: 0px;
    margin-top: 0px;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;

}

.search_toggle_menu span.input-group-btn button:hover {
    opacity: 0.80;
}

.notifications_toggle_menu {
	position: relative;
    display: inline-block;
	min-width: 300px;
	margin-left: 31%;
	margin-top: 10px;
    display: none;
}

li.notifications_icon,
li.notifications_icon span {
    cursor: pointer;
}

.notifications_toggle_menu span.glyphicon-play {
    transform: rotate(-90deg);
    color: #F5F6FA;
	margin-left: 12px;
}

.notifications_toggle_menu_inner {
    max-width: 300px;
	z-index: 1;
	position: absolute;
    margin-top: 20px;
}

.notifications_toggle_menu ul {
	list-style: none;
	margin-top: -8px;
    border-right: 1px solid #E1E8ED;
	border-bottom: 1px solid #E1E8ED;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F5F6FA;
	border-radius: 6px;
}

.notifications_toggle_menu ul li {
	padding-bottom: 5px;
	border-bottom: 1px solid #E1E8ED;
	margin-bottom: 20px;
}

.notifications_toggle_menu ul li:last-child {
	padding-bottom: 0px;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.notifications_toggle_menu figure.notification_pic {
	float: left;
	margin-right: 15px;
}

.notifications_toggle_menu figure.notification_pic img {
	width: 50px;
	border-radius: 100px;
}

p.notifcation_excerpt {
	font-family: RobotoBold, Arial;
	font-size: 14px;
    padding-top: 6px;
}

p.notifcation_excerpt a {
	color: #5E6977;
}

p.notification_time {
    font-family: RobotoRegular, Arial;
	font-size: 12px;
	color: #86939E;
    padding-top: 6px;
}

p.notification_time span {
    margin-right: 5px;
}

.notifications_toggle_menu ul li.see_all {
	font-family: RobotoBold, Arial;
    text-align: center;
	padding-bottom: 5px;
}

.notifications_toggle_menu ul li.see_all span {
    padding-left: 3px;
}

.notifications_toggle_menu ul li.see_all a {
	color: #7DC855;
}

.notifications_toggle_menu ul li.see_all a:hover {
	color: #72B24A;
}

/* 6.2. Post Update */

.post_update {
    background: #F5F6FA;
    border-radius: 6px;
    padding: 40px 0px 0px 0px;
}

.post_update h1 {
    color: #43474D;
    font-size: 18px;
    font-family: RobotoRegular, Arial;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px;
}

.post_update form {
    background: #F5F6FA;
}

.post_update_actions {
    width: 100%;
    background: #FFFFFF;
    border-radius: 0px 0px 6px 6px;
    border-top: 1px solid #E1E8ED;
}

.newsfeed_post_button_right button {
    border: 0px;
    border-radius: 0px 0px 6px 0px;
}

.newsfeed_post_button_left button {
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 1px solid #E1E8ED;
    border-radius: 0px 0px 0px 6px;
}

.newsfeed_post_button_right span {
    margin-left: 2px;
}

.newsfeed_post_button_right button,
.newsfeed_post_button_left button {
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    font-family: RobotoRegular, Arial;
    color: #86939E;
    padding-top: 2px;
}

.newsfeed_post_button_right button:hover,
.newsfeed_post_button_left button:hover {
    color: #7DC855;
    font-family: RobotoBold, Arial;
}

.post_update form textarea {
    box-shadow: none;
    border: 0px;
    background: #F5F6FA;
    color: #86939E;
    font-size: 14px;
    font-family: RobotoMedium, Arial;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.post_update form textarea:focus,
.post_update form textarea:hover,
.post_update form textarea:active {
    box-shadow: none;
    border: 0px;
    background: #F5F6FA;
    color: #86939E;
}

/* 6.3. News Feed Posts */

.news_feed_inner .col-md-8 {
    padding-left: 0px;
}

ul.newsfeed_posts {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 36px;
}

ul.newsfeed_posts li {
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 35px;
}

.newsfeed_post {
    padding-top: 30px;
}

.full_photo {
    margin-top: 30px;
}

.newsfeed_post_user {
    padding-left: 30px;
    padding-right: 30px;
}

.newsfeed_post .newsfeed_post_user figure.newsfeed_post_user_pic {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.newsfeed_post .newsfeed_post_user figure.newsfeed_post_user_pic img {
    width: 45px;
    height: 45px;
}

.newsfeed_post .newsfeed_post_user_details {
    line-height: 22px;
}

.newsfeed_post .newsfeed_post_user_details a.newsfeed_post_user_name {
    font-family: RobotoMedium, Arial;
    font-size: 14px;
    color: #5E6977;
}

.newsfeed_post .newsfeed_post_user_details a.newsfeed_post_user_name:hover {
    text-decoration: none;
}

.newsfeed_post .newsfeed_post_user_details p.newsfeed_post_user_description {
    font-family: RobotoRegular, Arial;
    font-size: 14px;
    color: #86939E;
}

.newsfeed_post_content {
    margin-top: 20px;
    padding: 0px 30px 0px 30px;
}

.newsfeed_post_content p {
    float: none;
    color: #86939E;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    width: 100%;
    line-height: 30px;
}

.newsfeed_post_content .post_gallery img {
    width: 160px;
    margin-right: 0px;
    margin-top: 9px;
}

.newsfeed_post_content .row .col-md-3 {
    margin-right: 0px;
}

.newsfeed_post_time {
    padding-top: 20px;
    border-top: 1px solid #E1E8EE;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.newsfeed_post_time p {
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    color: #86939E;
}

.newsfeed_post_comments {
    background: #F5F6FA;
    border-top: 1px solid #E1E8EE;
    padding: 10px 30px 2px 30px;
    border-radius: 0px 0px 6px 6px;
}

ul.comments_list {
    display: none;
}

.newsfeed_post_comments_top {
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    color: #86939E;
    cursor: pointer;
}

.newsfeed_post_comments_top span.open {
    transform: rotate(-180deg);
}

.newsfeed_post_comments_top a {
    color: #86939E;
}

.newsfeed_post_comments_top a:hover {
    color: #5E6977;
    text-decoration: none;
}

.newsfeed_post_comments_top span {
    margin-left: 2px;
}

.newsfeed_post_comments ul {
    list-style: none;
    padding-left: 0px;
    background: #F5F6FA;
    border-radius: 0px;
}

.newsfeed_post_comments ul li {
    background: #F5F6FA;
    border-radius: 0px;
    margin-top: 25px;
}

.newsfeed_post_comments ul li figure.comment_user_pic {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.newsfeed_post_comments ul li figure.comment_user_pic img {
    width: 45px;
    height: 45px;
}

.newsfeed_post_comments ul li p.comment_user_name {
    margin-bottom: 2px;
    padding-top: 2px;
}

.newsfeed_post_comments ul li p.comment_user_name a {
    font-family: RobotoMedium, Arial;
    font-size: 14px;
    color: #5E6977;
}

.newsfeed_post_comments ul li p.comment_user_name a:hover {
    color: #5E6977;
    text-decoration: none;
}

.newsfeed_post_comments ul li p.comment_user_time {
    font-family: RobotoRegular, Arial;
    font-size: 12px;
    color: #86939E;
}

.newsfeed_post_comments ul li p.comment_content {
    float: none;
    color: #86939E;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    width: 100%;
    line-height: 30px;
    padding-top: 0px;
}

.newsfeed_post_comments_box {
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.newsfeed_post_comments_box textarea {
    color: #86939E;
    font-size: 14px;
    font-family: RobotoRegular, Arial;
    border: 1px solid #E5ECF0;
    border-radius: 6px;
    background: #FFFFFF;
    padding: 15px;
    height: 50px;
    box-shadow: none;
}

.newsfeed_post_comments_box textarea:hover,
.newsfeed_post_comments_box textarea:focus,
.newsfeed_post_comments_box textarea:active {
    border: 1px solid #CCCCCC;
    box-shadow: none;
}

.newsfeed_post_comments_box p {
    color: #86939E;
    font-size: 12px;
    font-family: RobotoRegular, Arial;
    float: left;
    line-height: 30px;
    margin-top: 0px;
}

.newsfeed_post_comments_box button {
    border: none;
    box-shadow: none;
    background: #7DC855;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    font-size: 12px;
    font-family: RobotoBold, Arial;
    float: right;
    letter-spacing: 0.3px;
    margin-top: 10px;
    height: 37px;
}

.newsfeed_post_comments_box span {
    margin-left: 5px;
}

.newsfeed_post_comments_box button:hover {
    background: #72B24A;
}

/* 6.4. User Profile Widget */

.widget_user_profile_picture_container {
    margin-top: -60px;
    height: 120px;
}

.widget_user_profile_picture {
    width: 120px;
    height: 120px;
    float: none;
    margin: 0 auto;
}

.widget_user_profile_picture img {
    width: 120px;
    height: 120px;
}

.widget_user_details h2 {
    font-size: 24px;
    color: #5E6977;
    font-family: RobotoMedium, Arial;
    text-align: center;
}

.widget_user_details h2 a {
    color: #5E6977;
}

.widget_user_details h2 a:hover {
    color: #5E6977;
    text-decoration: none;
}

.widget_user_details {
    padding: 5px 30px 30px 30px;
}

.widget_user_details p {
    font-size: 14px;
    color: #86939E;
    font-family: RobotoRegular, Arial;
    text-align: center;
}

.widget_user_details a.btn {
    background: #7DC855;
    font-family: RobotoRegular, Arial;
    font-size: 14px;
    line-height: 20px;
    padding-top: 11px;
    padding-bottom: 9px;
    color: #FFFFFF;
    width: 100%;
    margin-top: 14px;
    border: none;
    box-shadow: none;
}

.widget_user_details a.btn:hover {
    background: #72B24A;
    text-decoration: none;
    color: #FFFFFF;
}

/******************************************************
 
4.6. HOMEPAGE - TESTIMONIALS
 
*******************************************************/

section#github {
    padding-bottom: 91px;
    padding-top: 101px;
}

#github h1 {
    color: #43484d;
    font-family: RobotoLight,Arial;
    margin-bottom: 40px;
    margin-top: 5px;
    text-align: center;
}

section#github h1 a {
    color: #43484D;
    text-decoration: none;
}

section#github h1 a:hover {
    color: #5e6977;
}

#github p {
    color: #5e6977;
    font-family: RobotoMedium,Arial;
    text-align: center;
}

section#github .col-md-4 {
    display: inline-block;
}

section#github .git_inner {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 2%;
    padding: 6%;
}

section#github .git_inner a {
    font-family: RobotoRegular,Arial;
    font-size: 16px;
}

section#github .git_inner p {
    text-align: left;
    font-weight: normal;
    font-family: RobotoRegular,Arial;
    padding-top: 10px;
}

section#github .git_inner .repo-language-color {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    float: left;
    margin: 3px 5px 3px 3px;
}